<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tower.mapper.my.MyAgentRebateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tower.entity.AgentRebate">
        <id column="id" property="id"/>
        <result column="agent_user_id" property="agentUserId"/>
        <result column="user_id" property="userId"/>
        <result column="challenge" property="challenge"/>
        <result column="rebate" property="rebate"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, agent_user_id, user_id, challenge, rebate, status, create_time
    </sql>
    <select id="selectExpectedReward" resultType="java.lang.Double">
        SELECT SUM(rebate) FROM agent_rebate
        WHERE user_id=#{playerId} AND create_time>#{period}
        GROUP BY user_id
    </select>
    <select id="selectUserRewardByDay" resultType="java.lang.Double">
        SELECT SUM(rebate) FROM agent_rebate
        WHERE user_id=#{playerId}
        AND create_time>#{createTime}
        AND create_time &lt; #{stopTime}
        GROUP BY user_id
    </select>

</mapper>
