<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tower.mapper.my.MySalvageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tower.entity.Salvage">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="profit" property="profit"/>
        <result column="salvage" property="salvage"/>
        <result column="get_salvage" property="getSalvage"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, profit, salvage, get_salvage, status, create_time
    </sql>
    <update id="settlement">
        UPDATE salvage SET status =1 WHERE status=0
    </update>
    <select id="selectTotalSalvage" resultType="java.lang.Integer">
         SELECT SUM(salvage) AS salvage
        FROM salvage
        WHERE user_id=#{userId}
        GROUP BY user_id
    </select>
    <select id="selectTotalGet" resultType="java.lang.Integer">
        SELECT SUM(get_salvage) AS salvage
        FROM salvage
        WHERE user_id=#{userId}
        GROUP BY user_id
    </select>
    <select id="getSalvage">
        UPDATE salvage
        SET get_salvage=salvage,
        status=2
        WHERE id IN (#{rewardIds})
    </select>

</mapper>
