<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tower.mapper.AttackLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tower.entity.AttackLog">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="ver" property="ver" />
        <result column="monster_id" property="monsterId" />
        <result column="create_time" property="createTime" />
        <result column="attack_time" property="attackTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, ver, monster_id, create_time, attack_time
    </sql>

</mapper>
