<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tower.mapper.EditionEtcMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tower.entity.EditionEtc">
        <id column="id" property="id" />
        <result column="platform" property="platform" />
        <result column="force_version" property="forceVersion" />
        <result column="newest" property="newest" />
        <result column="description" property="description" />
        <result column="url" property="url" />
        <result column="dimensional" property="dimensional" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, platform, force_version, newest, description, url, dimensional,create_time
    </sql>

</mapper>
