<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tower.mapper.UserWithdrawConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tower.entity.UserWithdrawConfig">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="total_withdraw_size" property="totalWithdrawSize" />
        <result column="today_withdraw_size" property="todayWithdrawSize" />
        <result column="total_withdraw_money" property="totalWithdrawMoney" />
        <result column="today_withdraw_money" property="todayWithdrawMoney" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, total_withdraw_size, today_withdraw_size, total_withdraw_money, today_withdraw_money, create_time
    </sql>

</mapper>
