<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tower.mapper.WithdrawLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tower.entity.WithdrawLog">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="withdraw_money" property="withdrawMoney" />
        <result column="service_charge" property="serviceCharge" />
        <result column="remit" property="remit" />
        <result column="state" property="state" />
        <result column="audit" property="audit" />
        <result column="audit_id" property="auditId" />
        <result column="bank_card_name" property="bankCardName" />
        <result column="bank_card_num" property="bankCardNum" />
        <result column="create_time" property="createTime" />
        <result column="audit_time" property="auditTime" />
        <result column="order" property="order"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, order , withdraw_money, service_charge, remit, state, audit, audit_id, bank_card_name, bank_card_num, create_time, audit_time
    </sql>

</mapper>
